body{
    background-color: #24252a;
    color: rgb(0, 183, 255);
    display: flex;
    justify-content: center;
    align-items: center;
     border:1px solid white;
   background-color: lightblue;

}

h1{
    color:white;
    border:1px solid white;
    display: flex;
    justify-content: center;
    background-color: lightcoral;
    padding: 10px;

}